<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1100, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/page.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Magra:400,700' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
<div id="color1top">&nbsp;</div>
<div id="color2top">&nbsp;</div>
<div id="topBox">
	<a href="">Sie haben Fragen? <i class="fa fa-envelope-o"></i></a>
	<a href=""><b>0123 - 456789</b> <small>(täglich von 8-22Uhr)</small></a>
</div>

        <div class="header-container">
            <header>
                <a href=""><h1 class="title"><img src="images/logo.png" /></h1></a>
                <nav>
                    <ul>
                        <li><a href="#">Dienstleister<span>suchen</span></a></li>
                        <li><a href="#">Dienstleister<span>eintragen</span></a></li>
                        <li><a href="#">Für Dienstleister<span>Premium-Kunde werden</span></a></li>
                        <li><a href="#" id="showLogin">Login<span>Registrieren</span></a></li>
                    </ul>
                </nav>
            </header>
        </div>
<div id="login">
	<div class="col-md-5" style="margin-top: 15px;">
		<h3>Sind Sie bereits registriert?</h2>
		<form class="login">
			<label for="email">Ihre E-Mail-Adresse:</label>
			  <input type="text" id="email" name="email">
			<label for="pwd">Ihr Passwort:</label>
			  <input type="text" id="pwd" name="pwd">
			  <a href="#" class="small" style="float:right;">Passwort vergessen?</a><br />
			<button type="submit" class="btn btn-success">Login</button>
		</form>
		<h3>Sind Sie Dienstleister?</h2>
		<p>
		Gewinnen Sie neue Kunden durch<br /> eine Premium-Mitgliedschaft bei direktbewerben.de
		</p>
		<p>
		<a href="#">Jetzt mehr erfahren ></a>
		</p>
	</div>
	<div class="col-md-7" style="border-left: 1px solid #CCC;margin-top: 15px;">
		<h3>Sind Sie neuer Nutzer?</h2>
		<form class="login">
			<label for="aanrede">Anrede</label>
			    <select name="aanrede" size="1">
					<option>Herr</option>
					<option>Frau</option>
				  </select>
			<label for="aanrede">Alter</label>
			    <select name="aalter" size="1">
					<option>unter 30</option>
					<option>30-50</option>
					<option>über 50</option>
				  </select>
			<label for="aemail">Ihre E-Mail-Adresse:</label>
			  <input type="email" id="aemail" name="email">
			<label for="apwd">Ihr Passwort:</label>
			  <input type="password" id="apwd" name="pwd" class="showpassword" />
<a class="showpwd small" style="cursor:pointer;">Show Password</a>
			<label for="apwd2">Wiederholung Ihres Passwortes:</label>
			  <input type="password" id="apwd2" name="pwd2">
			<p class="small"><input type='checkbox' name="agb" id="agb"/> <label for="agb" style="display: inline;">Ich akzeptiere die <a href="#">AGB</a> von direktbewerten.de</label></p>
			<p class="small"><input type='checkbox' name="newsletter" id="newsletter"/> <label for="newsletter" style="display: inline;">Ich möchte den direkbewerben-Newsletter kostenlos erhalten.<br />
			Eine Abbestellung ist jederzeit möglich. Ihre Daten werden nicht an Dritte weitergeleitet.</label></p>
			<button type="submit" class="btn btn-success">Neu registrieren</button>
		</form>
	</div>
	<div style="clear:both;"></div>
</div>
        <div class="main-container">
				<div class="box2">
					<div class="roundBox" style=" max-width: 1100px;">
						<div class="col-md-2" style="text-align:right; line-height: 34px; font-size: 1.5em;">
						Was / Wen
						</div>
						<div class="col-md-4">
							<input class="form-control" type="text" id="was" name="was" placeholder="z.B. Zahnarzt oder Dr. Müller" value="" rel="z.B. Zahnarzt oder Dr. Müller" autocomplete="off" hasfocus="false">
							<span id="helpBlock" class="help-block">Fachgebiet, Name des Dienstleisters</span>
						</div>
						<div class="col-md-1" style="text-align:right; line-height: 34px; font-size: 1.5em;">
						Wo
						</div>
						<div class="col-md-4">
							<input class="form-control" type="text" id="was" name="was" placeholder="z.B. Braunschweig" value="" rel="z.B. Braunschweig" autocomplete="off" hasfocus="false">
							<span id="helpBlock" class="help-block">Ort, PLZ, Stadtteil oder Straße</span>
						</div>
						<div class="col-md-1" style="text-align:center;">
							<button type="submit" class="btn btn-success">Suchen</button>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
            <div class="main wrapper clearfix" style="text-align:left; max-width: 1100px;-webkit-border-radius: 10px; border-radius: 10px;-webkit-box-shadow: 0 0 5px 0 #000000; box-shadow: 0 0 5px 0 #000000; margin: 10px auto; padding: 10px;">
			
			<i class="fa fa-home"></i> / Stadt / Branche
			<hr />
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-8">
							Es wurden 24 Maler in Braunschweig gefunden
						</div>
						<div class="col-md-4">
							sortieren  <select>
  <option value="volvo">Note</option>
  <option value="saab" selected>Umkreis</option>
  <option value="vw">Bewertung</option>
</select>
						</div>
					</div>
						<hr />
					<div class="row">
						<img src="http://placehold.it/200x200" style="float:left; margin-right: 1em;" width="200"/>
						<div style="float: left;">
							<span style="color: #65a217; font-size: 1.2em; font-weight:bold;">Malermeister Hillig</span><br />
							<small class="info">cocktail, shisha, (spezifisches)</small>
							<p>Musterstraße 12<br />
							12345 Musterstadt</p>
							<p style="line-height:35px;">
								<i class="fa fa-phone fa-2x" style="vertical-align: bottom;width: 30px; text-align: center;"></i> <span>0531 25 25 25 25</span><br />
								<i class="fa fa-clock-o fa-2x" style="vertical-align: bottom;color: #65a217;width: 30px; text-align: center;"></i> <span style="color: #65a217;">8-19 Uhr geöffnet</span><br />
								<i class="fa fa-map-pin fa-2x" style="vertical-align: bottom;color: #65a217;width: 30px; text-align: center;"></i> 0,4 Kilometer
							</p>
						</div>
						<div style="float:right;  font-size:0.9em; text-align: center;margin-top: 35px;">
							<div style="-webkit-border-radius: 10px; border-radius: 10px; width:250px; height: 75px; background: #f5f5f5;    margin: 0 auto; line-height:2em;">
								<div style="-webkit-border-radius: 10px; border-radius: 10px; width:50%; height: 75px; background: #6aa016; float:right; color: #FFF;    padding-top: 5px;">
									Gesamtnote<br />
									<span style="font-size: 2em; font-weight: bold;">1,3</span>
								</div>
								<div style="padding-top: 8px;">
									1005 Bewerungen<br />
									<a href="">alle anzeigen ></a>
								</div>
							</div>
							<span style="font-size: 0.9em;">Weiterempfehlung: 90% | Profilaufrufe: 12</span><br /><button type="submit" class="btn btn-success" style="margin: 0 auto;display:block;margin-top:10px;">jetzt bewerten</button>
						</div>
					</div>
					<hr />
					<div class="row">
						<img src="http://placehold.it/200x200" style="float:left; margin-right: 1em;" width="200"/>
						<div style="float: left;">
							<span style="color: #65a217; font-size: 1.2em; font-weight:bold;">Malermeister Hillig</span><br />
							<small class="info">cocktail, shisha, (spezifisches)</small>
							<p>Musterstraße 12<br />
							12345 Musterstadt</p>
							<p style="line-height:35px;">
								<i class="fa fa-phone fa-2x" style="vertical-align: bottom;width: 30px; text-align: center;"></i> <span>0531 25 25 25 25</span><br />
								<i class="fa fa-clock-o fa-2x" style="vertical-align: bottom;color: #65a217;width: 30px; text-align: center;"></i> <span style="color: #65a217;">8-19 Uhr geöffnet</span><br />
								<i class="fa fa-map-pin fa-2x" style="vertical-align: bottom;color: #65a217;width: 30px; text-align: center;"></i> 0,4 Kilometer
							</p>
						</div>
						<div style="float:right;  font-size:0.9em; text-align: center;margin-top: 35px;">
							<div style="-webkit-border-radius: 10px; border-radius: 10px; width:250px; height: 75px; background: #f5f5f5;    margin: 0 auto; line-height:2em;">
								<div style="-webkit-border-radius: 10px; border-radius: 10px; width:50%; height: 75px; background: #6aa016; float:right; color: #FFF;    padding-top: 5px;">
									Gesamtnote<br />
									<span style="font-size: 2em; font-weight: bold;">1,3</span>
								</div>
								<div style="padding-top: 8px;">
									1005 Bewerungen<br />
									<a href="">alle anzeigen ></a>
								</div>
							</div>
							<span style="font-size: 0.9em;">Weiterempfehlung: 90% | Profilaufrufe: 12</span><br /><button type="submit" class="btn btn-success" style="margin: 0 auto;display:block;margin-top:10px;">jetzt bewerten</button>
						</div>
					</div>
					<hr />
					<div class="row">
						<img src="http://placehold.it/200x200" style="float:left; margin-right: 1em;" width="200"/>
						<div style="float: left;">
							<span style="color: #65a217; font-size: 1.2em; font-weight:bold;">Malermeister Hillig</span><br />
							<small class="info">cocktail, shisha, (spezifisches)</small>
							<p>Musterstraße 12<br />
							12345 Musterstadt</p>
							<p style="line-height:35px;">
								<i class="fa fa-phone fa-2x" style="vertical-align: bottom;width: 30px; text-align: center;"></i> <span>0531 25 25 25 25</span><br />
								<i class="fa fa-clock-o fa-2x" style="vertical-align: bottom;color: #65a217;width: 30px; text-align: center;"></i> <span style="color: #65a217;">8-19 Uhr geöffnet</span><br />
								<i class="fa fa-map-pin fa-2x" style="vertical-align: bottom;color: #65a217;width: 30px; text-align: center;"></i> 0,4 Kilometer
							</p>
						</div>
						<div style="float:right;  font-size:0.9em; text-align: center;margin-top: 35px;">
							<div style="-webkit-border-radius: 10px; border-radius: 10px; width:250px; height: 75px; background: #f5f5f5;    margin: 0 auto; line-height:2em;">
								<div style="-webkit-border-radius: 10px; border-radius: 10px; width:50%; height: 75px; background: #6aa016; float:right; color: #FFF;    padding-top: 5px;">
									Gesamtnote<br />
									<span style="font-size: 2em; font-weight: bold;">1,3</span>
								</div>
								<div style="padding-top: 8px;">
									1005 Bewerungen<br />
									<a href="">alle anzeigen ></a>
								</div>
							</div>
							<span style="font-size: 0.9em;">Weiterempfehlung: 90% | Profilaufrufe: 12</span><br /><button type="submit" class="btn btn-success" style="margin: 0 auto;display:block;margin-top:10px;">jetzt bewerten</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 filter">
					<h4>Filter</h4>
					<span>Branche</span>
<select>
  <option value="volvo">1</option>
  <option value="saab">2</option>
  <option value="vw">3</option>
  <option value="audi" selected>4</option>
</select>
<br />
					<span>Stadt</span>
<select>
  <option value="volvo">1</option>
  <option value="saab">2</option>
  <option value="vw">3</option>
  <option value="audi" selected>4</option>
</select>
<br />
					<span>Umkreis</span>
<select>
  <option value="volvo">0km</option>
  <option value="saab">10km</option>
  <option value="vw">20km</option>
  <option value="audi" selected>alle</option>
</select>
				</div>
			</div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
				<div style="background:#262626;">
					<div class="col-md-6">
						<h3>Häufig gestellte Fragen</h3>
						<h4>Sie haben Fragen, wir die Antworten!</h4>
<ul id="drawers">
   <li>
      <h5><i class="fa fa-question-circle fa-3"></i> Wie kann ich mein Unternehmen besser präsentieren?</h5>
      <div>Hier kommt die antwort</div>
   </li>
   <li>
      <h5><i class="fa fa-question-circle fa-3"></i> Wie kann ich mein Unternehmen besser präsentieren?</h5>
      <div>Hier kommt die antwort</div>
   </li>
   <li>
      <h5><i class="fa fa-question-circle fa-3"></i> Wie kann ich mein Unternehmen besser präsentieren?</h5>
      <div class="first">Hier kommt die antwort</div>
   </li>
</ul>
					</div>
					<div class="col-md-6">
						<h3>Sie haben weitere Fragen?</h3>
						<h4>Dann kontaktieren Sie uns einfach!</h4>
					</div>
				</div>
				<div class="copy">
					&copy 2016 - direktbewerten.de UG (haftungsbeschränkt)
				</div>
            </footer>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
		
		
$('#drawers').find('h5').click(function(){
    $(this).next().slideToggle();
    $("#drawers div").not($(this).next()).slideUp();
});
		
		$( "#showLogin" ).click(function() {
		  $( "#login" ).toggle( "slow", function() {});
		});
		$(".showpassword").each(function (index, input) {
			var $input = $(input);
			$(".showpwd").click(function () {
			  var change = "";
			  if ($(this).html() === "Show Password") {
				$(this).html("Hide Password")
				change = "text";
			  } else {
				$(this).html("Show Password");
				change = "password";
			  }
			  var rep = $("<input type='" + change + "' />")
				.attr("id", $input.attr("id"))
				.attr("name", $input.attr("name"))
				.attr('class', $input.attr('class'))
				.val($input.val())
				.insertBefore($input);
			  $input.remove();
			  $input = rep;
			}).insertAfter($input);
		});
		</script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
